/* 1. Reset CSS e Estilos Globais*/
:root {
    --cor-fundo: #7ba1da;
    --cor-branco: #ffffff;
    --cor-texto-primario: #1c1e21;
    --cor-texto-secundario: #606770;
    --cor-borda: #dcdfe3;
    --cor-acento: #007bff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--cor-fundo);

    /*Centralizando o componente da pagina para vizualizacao*/
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
/*2. Estilos do Componente Principal: card*/
.card{
    background-color: var(--cor-branco);
    border-radius: 10px;
    box-shadow: 0 8px 24px rgba(0, 0,0,0.1); /*sombra da caixa*/
    width: 320px;
/*Aqui que comeca a magica da transformação*/
    transition: transform 0.3s ease,box-shadow 0.3s ease;

    overflow: hidden; /* */
    text-align: center;
}

/*3. Efeito de hover no cart*/
.card :hover{
    transform: translatev (-10px); /*Movimenta o card para cima ex 10px*/
    box-shadow: 0 12px 32px rgba(0,0,0,0.2);
}
/*4. Estilos da imagem do card*/
.card_image-container{
    width: 100%;
    height: 100%; /*altura fixa para o container da imagem*/
    
}
.card_image{
    width: 100%;
    height: 100%;
    object-fit: cover; /*Cobre todo o container mantendo a proporcao/ Garante que a imagem cubra o espaço sem distorcer*/
}
/*5. estilos do titulo do card/ titulo e social)*/

    .card_info{
        padding: 24px;
    }
    .card_name{
        font-size: 24px; /*1.5rem*/
        color: var(--cor-texto-primario);
        margin-bottom: 8px;
        font-weight: bold;
       
    }
    .card_title{
        font-size: 1.0rem;
        color: var(--cor-texto-secundario);
        margin-bottom: 24px;
    }
    .card_social{
        display: flex; /*ativa a flex box*/
        justify-content: center; /*Centraliza os itens do eixo principal (horizontal)*/
        gap: 10px; /*Espacamneto entre os icones sociais*/
        
    }
    .card_social a {
        display: flex; /**/
        align-items: center;/*alinha os icones verticalmente*/
        justify-content: center;/*centraliza os icones horizontalmente*/
        width: 40px;/*largura fixa para os icones*/
        height: 40px;/*largura fixa parea os icones*/
        color: var(--cor-acento);
        border: 2px solid var(--cor-acento);/*borda do icone*/
        border-radius: 50%;/**/
        font-size: 1.5rem;/**/
        text-decoration: none;/*remove*/
        font-weight: bold;/**/
        transition: background-color 0.3s ease, color 0.3s ease;/**/
    }
