/* 1. Reset CSS e Estilos Globais*/
:root {
    --cor-fundo: #7ba1da;
    --cor-branco: #ffffff;
    --cor-texto-primario: #1c1e21;
    --cor-texto-secundario: #606770;
    --cor-borda: #dcdfe3;
    --cor-acento: #007bff;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--cor-fundo);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
/*2. Estilos do Componente Principal: card*/
.card{
    background-color: var(--cor-branco);
    border-radius: 10px;
    box-shadow: 0 8px 24px rgba(0, 0,0,0.1); 
    width: 320px;

    transition: transform 0.3s ease,box-shadow 0.3s ease;

    overflow: hidden; /* */
    text-align: center;
}

/*3. Efeito de hover no cart*/
.card :hover{
    transform: translatev (-10px); 
    box-shadow: 0 12px 32px rgba(0,0,0,0.15);
}
/*4. Estilos da imagem do card*/
.card_image-container{
    width: 100%;
    height: 100%; /* altura fixa para o conteiner da imagem */
    
}
.card_image{
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
/*5. estilos do titulo do card/ titulo e social)*/

    .card_info{
        padding: 24px;
    }
    .card_name{
        font-size: 24px; 
        color: var(--cor-texto-primario);
        margin-bottom: 8px;
        font-weight: bold;
       
    }
    .card_title{
        font-size: 1.0rem;/* 1 rem = 16px -> 1 rem é uma unidade relativa ou seja ela vai tentar colocar 16 px*/
        color: var(--cor-texto-secundario);
        margin-bottom: 24px;
    }
/* 6. Estilos e Icones sociais(utilizando Flexbox */
.card_social{
    display: flex; /* ativa o Flexbox */
    justify-content: center; /* Centraliza no eixo peincipal (horizontal */
    gap: 16px;/* Espaçamentos entre itens */
}

.card_social a {
    display: flex;
    align-items: center;
    justify-items: center;
    width: 40px;
    height:40px;
    color: var(--cor-acento);
    border: 2px solid var(--cor-acento);
    border-radius: 50%;
    text-decoration: none;
    font-weight: bolder;
    transition: background-color 0.3s ease,color 0,3 ease;

}
.card_social a:hover{
    background-color: var(--cor-acento);
    color: var(--cor-branco);
    border-color: var(--cor-borda);
}
/* 7. Desing Responsivo (nossa primeira media Query */
@media (max-width:400px){
    .card{
        width: 90%;
    }
}